name: Quality Checks

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    name: Rust Quality Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: ./.github/actions/setup-rust
      - name: Format Check
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy -- -D warnings
      - name: Test
        run: cargo test
